$accent-color: #ff3400;
$body-color:#918ca4;
$body-color-dark:#5c5577;
$headings-color:#1b0760;
$primary-color: #2584ff;
$secondary-color:#00d9ff;
$icon-color:#f3f9fa;
$border-color:#ccc;
$border-radius:30px;