@import "colors";

@import "typography";

*, *::after, *::before{
    box-sizing: border-box;
}
/*Links*/
a{
    text-decoration: none;
}
.link-arrow{
    color:$accent-color;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    &::after{
        content: "-->";
        margin-left: 5px;
    }
    &:hover::after{
      margin-left: 10px;
    }
}

@media screen and (min-width:1024px){
 .link-arrow{
    font-size: 1.5rem;
 }


}

/*Badges*/
   
/*Badge structure*/

.badge{
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding:0.5rem 2rem;
    white-space: nowrap;
}

/*Badge Skin*/

.badge--primary{
    background: $primary-color;
    color:white;
}

.badge--secondary{
    background:$secondary-color;
    color:white;
}

.badge--small{
    font-size: 1.6rem;
}

@media screen and (min-width:1024px){

    .badge{
        font-size: 1.5rem;
    }

    .badge--small{
        font-size: 1.2rem;
    }
}


/*Lists*/

.list{
    list-style: none;
    padding-left: 0;
    color:$headings-color;
}

.list--inline {
    .list__item{

    display:inline-block;
    margin-right: 2rem;}
}

.list--tick{
    list-style-image: url('../images/check.svg');
    padding-left: 3rem;
  
}

.list--tick{
    .list__item{
        padding:0.5rem;
        margin-bottom: 1rem;
    }
    
}

@media screen and (min-width:1024px){

    .list--tick{
        .list__item{
            padding-left: 0;
        }
    }
}

//Icons

.icon-container{
    align-items: center;
    background-color: $icon-color;
    border-radius: 100%;
    display: inline-flex;
    height:64px;
    justify-content: center;
    width:64px;
}

.icon{
    width:40px;
    height:40px;
}

.icon--primary{
fill:$primary-color;

}

//buttons

.btn{
    border-radius: 40px;
    border: 0;
    cursor:pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin:1rem 0;
    padding: 2rem 3rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.btn--accent{
    background-color: $accent-color;
    border:none;
    color:white;
    &:hover{
        background-color: darken($accent-color, 10%);
    }
    
}

.btn--primary{
    background-color: $primary-color;
    &:hover{
        background-color: darken($primary-color, 10%);
    }
   
    color:white;
}

.btn--secondary{
    background-color: $secondary-color;
    color:white;
    &:hover{
        background-color: darken($secondary-color, 10%);
    }
}

.btn--outline{
    border:2px solid $headings-color;
    color:$headings-color;
    background-color: white;
    &:hover{
        background-color: $headings-color;
        color:white;
    }
}

.btn--block{
    width:100%;
    display:inline-block;
}

@media screen and (min-width:1024px){
    .btn{
        font-size: 1.5rem;
    }
}