@import "colors";

@import "typography";

/*Links*/
a{
    text-decoration: none;
}
.link-arrow{
    color:$accent-color;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    &::after{
        content: "-->";
        margin-left: 5px;
    }
    &:hover::after{
      margin-left: 10px;
    }
}

@media screen and (min-width:1024px){
 .link-arrow{
    font-size: 1.5rem;
 }


}

/*Badges*/
   
/*Badge structure*/

.badge{
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding:0.5rem 2rem;
    white-space: nowrap;
}

/*Badge Skin*/

.badge--primary{
    background: $primary-color;
    color:white;
}

.badge--secondary{
    background:$secondary-color;
    color:white;
}

.badge--small{
    font-size: 1.6rem;
}

@media screen and (min-width:1024px){

    .badge{
        font-size: 1.5rem;
    }

    .badge--small{
        font-size: 1.2rem;
    }
}
