<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>

    <span class="icon-container icon-container--small icon-container--collapse">
      <svg class="icon icon--white icon--small collapsible__angle">
        <use xlink:href="images/angle.svg#angle-right-solid"></use>
      </svg>
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, ducimus!
  </div>
</div>
