<section class="block container block-domain">
  <!--The header-->
  <header class="block__header">
    <h2>Starting at $5 per month</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, dicta.
    </p>
  </header>
  <!--The input-->
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter domain name here..." />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/search.svg#search"></use></svg
      >Search
    </button>
  </div>
  <!--The list-->
  <ul class="list block-domain__prices">
    <l1><span class="badge badge--secondary">.com $9</span></l1>
    <l1>.sg $10</l1>
    <l1>.space $11</l1>
    <l1>.info $14</l1>
    <l1>.net $10</l1>
    <l1>.xyz $10</l1>
  </ul>
</section>
