<nav class="nav collapsible">
  <!--logo-->

  <a href="/"
    ><img
      src="images/c.svg"
      class="logo--icon nav__brand"
      alt="logo of tikihost"
  /></a>

  <!--menu bar-->
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="images/sprite.svg#bars-solid"></use>
  </svg>
  <!--nav links-->
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Hosting</a></li>
    <li class="nav__item"><a href="#">VPS</a></li>
    <li class="nav__item"><a href="#">Domain</a></li>
    <li class="nav__item"><a href="#">Pricing</a></li>
  </ul>
</nav>
