<blockquote class="quote">
    <p class="quote__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad distinctio harum ut necessitatibus facere quia, omnis exercitationem mollitia? Autem, voluptatum!</p>
    <footer>
      <div class="media">
        <div class="media__image ">
          <img src="images/line.svg" alt="" class="">
        </div>
        <div class="media__body">
          <h3 class="title quote__author">John Smith</h3>
          <p class="quote__company">CEO Alphalink</p>
        </div>
      </div>
      
      
    </footer>
  </blockquote>