<section class="block">
  <header class="block__header">
    <h2>What our Customers are Saying</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque,
      perspiciatis.
    </p>
  </header>
  <div class="container">
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img src="images/testimonial.jpg" alt="a happy customer" />
          <span class="icon-container icon-container--accent">
            <svg class="icon icon--white icon--small">
              <use xlink:href="images/sprite.svg#quote-left-solid"></use>
            </svg>
          </span>
        </div>
        <div>
          <blockquote class="quote">
            <p class="quote__text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad
              distinctio harum ut necessitatibus facere quia, omnis
              exercitationem mollitia? Autem, voluptatum!
            </p>
            <footer>
              <div class="media">
                <div class="media__image">
                  <img src="images/line.svg" alt="" class="" />
                </div>
                <div class="media__body">
                  <h3 class="title quote__author">John Smith</h3>
                  <p class="quote__company">CEO Alphalink</p>
                </div>
              </div>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
